* {padding: 0; margin: 0; list-style: none;}
img {max-width: 100%; height: auto;}

.form-control {border-radius: 0;}
.form-control:focus {border-color: black; box-shadow: none;}
.btn {border-radius: 0;}

.mynav {
    background-color: #263238;
    border-color: #263238;
    border-radius: 0;
    margin: 0;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #304047;
}

.navbar-inverse .navbar-nav> li >a:focus, 
.navbar-inverse .navbar-nav> li >a:hover {
    background-color: #304047;
}

.mylogo {
    padding: 10px 15px;
}

/*배너*/
.myslide {
    padding: 0;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

/*섹션 컨텐츠*/
#main_wrap {margin-top: 50px;}

.prod-content .content {
    overflow: hidden;
}

.prod-content .content .info {
    float: left;
}

.prod-content .content .info span {
    display: block;
    font-size: 700;
    color: #999;
}

.prod-content .content .price {
    float: right;
}

.prod-content:hover .content-color {opacity: 1; transition: all 0.5s ease-in-out;}
.prod-content .content-color {margin-top: -20px; opacity: 0;}
.prod-content .content-color ul {overflow: hidden;}
.prod-content .content-color ul li {float: left;}
.prod-content .content-color ul li img {width: 40px;}


